body{
    background: rgb(16, 17, 19);
}
main{
    margin: auto;
	width: 210mm;
	height: 297mm;
	
}
h2{
    margin-left: 10px;
}

/* NAVIGATION */
#nav{
    min-width: 250px;
    height: 297mm;
    color:white;
    display: flex;
    flex-direction: column;
    float: left;
    background-color: #34324b;
}
.img{
border-radius: 100%;
width: 200px;
height: 200px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
border: 4px solid white;
}
ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  
}
.loisirListe{
    list-style: disc;
}
.GRAS{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: larger;
}
/* SECTION */
#section{
    background-color: rgb(247, 244, 230);
    height: 297mm;
    display: flex;
    font-size: 12px;

}
.Nom{
    font-weight: bold;
    font-size: 7mm;
    margin-left: 40px;
}
.Info{
    display: flex;
}
.LInfo{
    min-width: 100px;
    
}
.RInfo{
    display:flex;
    padding-left: 10px;
    flex-direction: column;
}
.TDescription{
    margin-bottom: 10px;
}
.Description{
    margin-bottom: 10px;
}

.gras{
    font-weight: bold;
}
.Blue{
    color: navy;
}
.profilStyle{
    list-style: disc;
}
li.profilStyle{
}
